Week 3 Intern Assignment/Connected Services/ServiceReference1/InventoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StoreFront.Inventory_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StoreFront.Inventory_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct_Item">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product_Item" nillable="true" type="tns:Product_Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct_Item" nillable="true" type="tns:ArrayOfProduct_Item" />
  <xs:complexType name="Product_Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Des" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdID" type="xs:int" />
      <xs:element minOccurs="0" name="ProdName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product_Item" nillable="true" type="tns:Product_Item" />
</xs:schema>