Week 3 Intern Assignment/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50874/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StoreFront.Data" />
  <xs:element name="SearchProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StoreFront.Data" minOccurs="0" name="SearchProductsResult" nillable="true" type="q1:ArrayOfProduct_table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StoreFront.Data" minOccurs="0" name="GetProductDetailsResult" nillable="true" type="q2:Product_table" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>