Week 3 Intern Assignment/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StoreFront.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StoreFront.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct_table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product_table" nillable="true" type="tns:Product_table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct_table" nillable="true" type="tns:ArrayOfProduct_table" />
  <xs:complexType name="Product_table">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImageFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderProduct_table" nillable="true" type="tns:ArrayOfOrderProduct_table" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProdDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShoppingCartProduct_table" nillable="true" type="tns:ArrayOfShoppingCartProduct_table" />
      <xs:element minOccurs="0" name="isPublished" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product_table" nillable="true" type="tns:Product_table" />
  <xs:complexType name="ArrayOfOrderProduct_table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderProduct_table" nillable="true" type="tns:OrderProduct_table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderProduct_table" nillable="true" type="tns:ArrayOfOrderProduct_table" />
  <xs:complexType name="OrderProduct_table">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Order_table" nillable="true" type="tns:Order_table" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Product_table" nillable="true" type="tns:Product_table" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderProduct_table" nillable="true" type="tns:OrderProduct_table" />
  <xs:complexType name="Order_table">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="Address_table" nillable="true" type="tns:Address_table" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderProduct_table" nillable="true" type="tns:ArrayOfOrderProduct_table" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
      <xs:element minOccurs="0" name="Status_table" nillable="true" type="tns:Status_table" />
      <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="User_table" nillable="true" type="tns:User_table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order_table" nillable="true" type="tns:Order_table" />
  <xs:complexType name="Address_table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressID" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_table" nillable="true" type="tns:ArrayOfOrder_table" />
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
      <xs:element minOccurs="0" name="State_table" nillable="true" type="tns:State_table" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="User_table" nillable="true" type="tns:User_table" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isBilling" type="xs:boolean" />
      <xs:element minOccurs="0" name="isShipping" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address_table" nillable="true" type="tns:Address_table" />
  <xs:complexType name="ArrayOfOrder_table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order_table" nillable="true" type="tns:Order_table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder_table" nillable="true" type="tns:ArrayOfOrder_table" />
  <xs:complexType name="State_table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address_table" nillable="true" type="tns:ArrayOfAddress_table" />
      <xs:element minOccurs="0" name="StateAbbrev" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateID" type="xs:int" />
      <xs:element minOccurs="0" name="StateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="State_table" nillable="true" type="tns:State_table" />
  <xs:complexType name="ArrayOfAddress_table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address_table" nillable="true" type="tns:Address_table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress_table" nillable="true" type="tns:ArrayOfAddress_table" />
  <xs:complexType name="User_table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address_table" nillable="true" type="tns:ArrayOfAddress_table" />
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_table" nillable="true" type="tns:ArrayOfOrder_table" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShoppingCart_table" nillable="true" type="tns:ArrayOfShoppingCart_table" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User_table" nillable="true" type="tns:User_table" />
  <xs:complexType name="ArrayOfShoppingCart_table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCart_table" nillable="true" type="tns:ShoppingCart_table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCart_table" nillable="true" type="tns:ArrayOfShoppingCart_table" />
  <xs:complexType name="ShoppingCart_table">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifieidBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShoppingCartID" type="xs:int" />
      <xs:element minOccurs="0" name="ShoppingCartProduct_table" nillable="true" type="tns:ArrayOfShoppingCartProduct_table" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
      <xs:element minOccurs="0" name="User_table" nillable="true" type="tns:User_table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCart_table" nillable="true" type="tns:ShoppingCart_table" />
  <xs:complexType name="ArrayOfShoppingCartProduct_table">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartProduct_table" nillable="true" type="tns:ShoppingCartProduct_table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCartProduct_table" nillable="true" type="tns:ArrayOfShoppingCartProduct_table" />
  <xs:complexType name="ShoppingCartProduct_table">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="Product_table" nillable="true" type="tns:Product_table" />
      <xs:element minOccurs="0" name="Quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShoppingCartID" type="xs:int" />
      <xs:element minOccurs="0" name="ShoppingCartProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ShoppingCart_table" nillable="true" type="tns:ShoppingCart_table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartProduct_table" nillable="true" type="tns:ShoppingCartProduct_table" />
  <xs:complexType name="Status_table">
    <xs:sequence>
      <xs:element minOccurs="0" name="Order_table" nillable="true" type="tns:ArrayOfOrder_table" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status_table" nillable="true" type="tns:Status_table" />
</xs:schema>